<section class="bg-gray-50 dark:bg-gray-900 justify-center">
    <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
        
        
<div class="w-full max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 px-4 pt-9">
        <div class="flex flex-col items-center pb-10">
            
            <div class="relative w-24 h-24 mb-3 rounded-full shadow-lg">
                <img class="w-24 h-24 mb-3 rounded-full shadow-lg" [src]="isImage ? profileImage : defaultImage" alt="Bonnie image"/>
               
                <label class="absolute bottom-0 right-1 h-7 w-7 rounded-full bg-gray-400 z-2 flex justify-center items-center cursor-pointer" *ngIf="!isImage">
                    <input type="file" style="display: none;" (change)="onFileSelected($event)"/>
                    <fa-icon [icon]="faAdd"></fa-icon>
                  </label>
                  <button class="absolute bottom-0 right-1 h-7 w-7 rounded-full bg-red-500 z-2 flex justify-center items-center"  (click)="removeImage()"  *ngIf="isImage">
                    <fa-icon class="text-white text-sm" [icon]="faTrash"></fa-icon>
                  </button>
              </div>
            <ng-container *ngIf="profile$ | async as profile">
            <h5 class="mb-1 text-xl font-medium text-gray-900 dark:text-white">
                {{ profile.name }}</h5>
            <span class="text-sm text-gray-500 dark:text-gray-400">
                {{ profile.email }}
            </span></ng-container>
        
        </div>
</div>

    </div>
  </section>